
.loans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;

  &--container {
    width: 60%;
  }
}

.mdc-data-table {
  &__table {
    margin-top: 20px;
    border: 1px solid #dee5ed;
    border-radius: 4px;
  }

  &__header-cell {
    color: #7b8187;
  }
}

@media (max-width: 992px) {
  .loans {
    &--container {
      width: 100%;
    }
  }
}


.loans--container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* espacio entre elementos */
}

.create-loan-btn {
  align-self: flex-end; /* lo pone a la derecha */
  border-radius: 8px; /* bordes redondeados */
  padding: 8px 24px; /* tamaño cómodo */
  font-weight: 600;
  background-color: #0a549e;
  color: #dee5ed;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* leve sombra */
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9); /* hover sutil */
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


