.loans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  
    &--container {
      width: 60%;
    }
  }
  
  .mdc-data-table {
    &__table {
      margin-top: 20px;
      border: 1px solid #dee5ed;
      border-radius: 4px;
    }
  
    &__header-cell {
      color: #7b8187;
    }
  }

  .mdc-data-table__row {
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgba(116, 136, 134, 0.08);
      cursor: pointer;
    }
  }
  
  @media (max-width: 992px) {
    .loans {
      &--container {
        width: 100%;
      }
    }
  }
  